# Prediccion del mundial segun ranking IRB

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/paises.csv")
df

   zona          pais  score
0     A        France  89.22
1     A         Italy  75.63
2     A       Namibia  61.61
3     A       Uruguay  66.63
4     A    New Zeland  89.06
5     B        Irland  91.82
6     B       Romania  64.56
7     B      Scotland  84.01
8     B  South Africa  91.08
9     B         Tonga  70.29
10    C     Australia  79.87
11    C          Fiji  80.28
12    C       Georgia  76.23
13    C      Portugal  68.61
14    C         Wales  78.26
15    D     Argentina  80.86
16    D         Chile  60.49
17    D       England  79.95
18    D         Japon  73.29
19    D         Samoa  76.19

In [3]:
# mejores por grupo
mejores_por_grupo = df.sort_values(by=["zona", "score"], ascending=[True, False]).groupby("zona").head(2)

## Cuartos de Final

In [4]:
cuartos = [
    (mejores_por_grupo[mejores_por_grupo["zona"] == "C"].iloc[0], mejores_por_grupo[mejores_por_grupo["zona"] == "D"].iloc[1]),
    (mejores_por_grupo[mejores_por_grupo["zona"] == "B"].iloc[0], mejores_por_grupo[mejores_por_grupo["zona"] == "A"].iloc[1]),
    (mejores_por_grupo[mejores_por_grupo["zona"] == "D"].iloc[0], mejores_por_grupo[mejores_por_grupo["zona"] == "C"].iloc[1]),
    (mejores_por_grupo[mejores_por_grupo["zona"] == "A"].iloc[0], mejores_por_grupo[mejores_por_grupo["zona"] == "B"].iloc[1]),
]

In [5]:
def simular_partido(equipo1, equipo2):
    if equipo1["score"] > equipo2["score"]:
        return equipo1
    else:
        return equipo2
    
ganadores_cuartos = []

for partido in cuartos:
    ganador = simular_partido(partido[0], partido[1])
    ganadores_cuartos.append(ganador)

In [6]:
print("Cuartos de Final:")
print("-" * 30)
for i, partido in enumerate(cuartos):
    equipo_ganador = ganadores_cuartos[i]
    print(f"{partido[0]['pais']} ({partido[0]['score']}) vs {partido[1]['pais']} {partido[1]['score']}) => Ganador: {equipo_ganador['pais']}")

Cuartos de Final:
------------------------------
Fiji (80.28) vs England 79.95) => Ganador: Fiji
Irland (91.82) vs New Zeland 89.06) => Ganador: Irland
Argentina (80.86) vs Australia 79.87) => Ganador: Argentina
France (89.22) vs South Africa 91.08) => Ganador: South Africa

## Semifinal

In [7]:
semifinales = [
    (ganadores_cuartos[0], ganadores_cuartos[1]),
    (ganadores_cuartos[2], ganadores_cuartos[3])
]

ganadores_semifinales = []

for partido in semifinales:
    ganador = simular_partido(partido[0], partido[1])
    ganadores_semifinales.append(ganador)

## Tercer Puesto

In [8]:
perdedores_semifinal = [equipo for equipo in ganadores_cuartos if equipo['pais'] not in [ganador['pais'] for ganador in ganadores_semifinales]]
tercer_puesto = (perdedores_semifinal[0], perdedores_semifinal[1])

ganador_tercer_puesto = simular_partido(tercer_puesto[0], tercer_puesto[1])

In [11]:
print("Tercer Puesto")
print("-" * 30)
print(ganador_tercer_puesto['pais'])

Tercer Puesto
------------------------------
Argentina

## Ganador del mundial

In [20]:
final = (ganadores_semifinales[0], ganadores_semifinales[1])

campeon = simular_partido(final[0], final[1])

print(final[0]['pais'])

Irland

In [24]:
separador = "-" * 30

print("Campeon de Rugby del Mundo 2023")
print(separador)
print(campeon['pais'])
print()
print("Segundo puesto")
print(separador)
print(final[1]['pais'] if final[0]['pais'] == campeon['pais'] else final[0]['pais'])

Campeon de Rugby del Mundo 2023
------------------------------
Irland

Segundo puesto
------------------------------
South Africa

> Conclusion: Si solo tomamos en cuenta el ranking de IRB para definir quien gana y el fixture del mundial para ver como se enfrentan los equipos. el campeon sera Irlanda(1 IRB) ganandole a Sudafrica(2 IRB) en la final. y Argentina(6 IRB) tercero ganandole a Fiji(7 IRB).